<div class="d-flex gap-3">    
    
    
    
    <div class="d-flex flex-row justify-content-between align-items-center border border-dark w-100 p-2">
        <a href="<%= user_path(user) %>" id="profile-img">
    <img src="<%= user.photo %>" alt="user image" class="m2 border border-dark"/> 
    </a>
    <p class="h4"><%= user.name %></p>
        <div class="d-flex gap-1 align-self-end">
            <p class="small fw-bold">Number of posts:</p>
            <p class="small fw-bold"><%= user.posts_counter %></p>            
        </div>               
 
 
        <div>
            <a class="btn btn-outline-dark mb-1" href="<%= new_post_path %>">Add Post</a>
            <%= button_to "delete", user_path(:id => user.id), :method => :delete, class: "btn btn-outline-dark" %>
        </div>

       
    </div>  

</div>

