<div class="d-flex flex-column gap-3 m-5">
    <% user = User.find(params[:user_id])  %>
    <% post_id = params[:id] %>

    <% p = Post.where(id: post_id, author_id: user.id) %>

    <% p.each do |post| %>
        <%= render "shared/post_card", post: post , user: user%> 
    <% end %>

    <%= form_with url: "/users/#{@post.author_id}/posts/#{@post.id}/likes", scope: :like do |form| %>
        <%= form.submit "Like "%>
    <% end %>

    <div class="d-flex flex-column gap-3 mt-5 mb-5">
        <% comments = Comment.where(author_id: user.id , post_id: post_id) %>
        <h4>comments list</h4>        
        <%= render "shared/comments_list", comments: comments, user: user %> 
    </div>
    <div>
        <h4>add comment please </h4>
        <%= render partial: "shared/add_comments", local: { post: @post } %>
    </div>
 
</div>

    
   